.aside {
  position: fixed;  
  width: 180px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333;
  .tit {
    width: 180px;
    height: 50px;
    background-color: #367fa9;
    h4 {
      font-size: 24px;
      font-weight: 400;
      margin: 0;
      text-align: center;
      line-height: 50px;
      color: #fff;
    }
  }
  .user {
    img {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 0 auto;
    }
    p {
      color: #fff;
      font-size: 16px;
      text-align: center;
    }
  }
  .navs {
    font-size: 15px;
    li {
      color: #fff;
      text-align: center;
      p {
        height: 40px;
        margin: 0;
      }
      a {
        display: block;
        height: 40px;
      }
      li {
        padding-left: 14px;
      }
    }
    a.cur {
      border-color: #069;
      background-color: #1d1f21;
    }
  }
}