.aside {
  position: fixed;
  width: 180px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333;
  transition: all 1s;
}
.aside.cur {
  display: none;
}
.aside .tit {
  width: 180px;
  height: 50px;
  background-color: #367fa9;
}
.aside .tit h4 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
.aside .user img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}
.aside .user p {
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.aside .navs {
  width: 100%;
  font-size: 15px;
}
.aside .navs li {
  width: 180px;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
.aside .navs li p {
  height: 40px;
  margin: 0;
}
.aside .navs li a {
  display: block;
  height: 40px;
  border-left: 3px solid transparent;
}
.aside .navs li li {
  text-indent: 14px;
}
.aside .navs a.cur {
  border-color: #069;
  background-color: #1d1f21;
}
.main {
  padding-left: 180px;
  transition: all 1s;
}
.main.cur {
  padding-left: 0;
}
.main .top {
  height: 50px;
  background-color: skyblue;
}
.main .top a {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
