.aside {
  position: fixed;
  width: 180px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333;
}
.aside .tit {
  width: 180px;
  height: 50px;
  background-color: #367fa9;
}
.aside .tit h4 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
.aside .user img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}
.aside .user p {
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.aside .navs {
  font-size: 15px;
}
.aside .navs li {
  color: #fff;
  text-align: center;
}
.aside .navs li p {
  height: 40px;
  margin: 0;
}
.aside .navs li a {
  display: block;
  height: 40px;
}
.aside .navs li li {
  padding-left: 14px;
}
.aside .navs a.cur {
  border-color: #069;
  background-color: #1d1f21;
}
