<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable=no>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="lib/mui/css/mui.css">
  <link rel="stylesheet" href="lib/fa/css/font-awesome.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/search.css">
  <link rel="icon" href="favicon.ico">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="header">
      <a href="javascript:history.go(-1);" class="icon_left">
        <span class="mui-icon mui-icon-back"></span>
      </a>
      <div class="tit">
        <h4>搜索中心</h4>
      </div>
    </div>
    <div class="content">
      <div class="search">
        <input type="text" placeholder="请输入搜索关键字">
        <button class="mui-btn mui-btn-blue search_btn">搜索</button>
      </div>
      <div class="history">
        <!-- 模板引擎 -->
      </div>
    </div>
    <div class="footer">
      <ul class="mui-clearfix">
        <li>
          <a href="index.html">
            <span class="fa fa-home"></span>
            <p>首页</p>
          </a>
        </li>
        <li>
          <a href="cartgory.html">
            <span class="fa fa-bars"></span>
            <p>分类</p>
          </a>
        </li>
        <li>
          <a href="cart.html">
            <span class="fa fa-shopping-cart"></span>
            <p>购物车</p>
          </a>
        </li>
        <li>
          <a href="user.html">
            <span class="fa fa-user"></span>
            <p>会员中心</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script type="text/html" id="tpl">
    {{if rows.length==0}}
      <p>查无搜索记录！请稍后再查！</p>
    {{/if}}
    {{if rows.length>0}}
    <div class="tit mui-clearfix">
      <span class="mui-pull-left">搜索历史</span>
      <span class="mui-pull-right fa fa-trash empty">清空记录</span>
    </div>
    <ul>
      {{each rows v i}}
      <li data-index="{{i}}">{{v}}<span class="mui-icon mui-icon-closeempty pull-right btn-delete"></span></li>
      {{/each}}
    </ul>
    {{/if}}
  </script>
  <script src="lib/zepto/zepto.min.js"></script>
  <script src="lib/mui/js/mui.js"></script>
  <script src="lib/artTemplate/template-web.js"></script>
  <script src="js/common.js"></script>
  <script src="js/search.js"></script>
</body>

</html>