.protit,
.proprice,
.prosize,
.pronum {
  height: 50px;
  padding: 0 10px;
  border-top: 1px solid #ccc;
  line-height: 50px;
}
.protit {
  font-weight: 700;
  font-size: 20px;
}
.proprice .price {
  color: red;
  font-size: 18px;
}
.proprice .oldPrice {
  font-size: 14px;
  text-decoration: line-through;
}
.prosize span {
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  background-color: #eee;
}
.prosize span.cur {
  background-color: #069;
}
.pronum {
  line-height: 0;
  padding-top: 5px;
}
.pronum span {
  font-size: 12px;
}
.pronum .mui-numbox {
  margin-top: 2px;
}
.prodesc {
  padding: 0 10px;
  border-top: 1px solid #ccc;
  line-height: 40px;
}
.bottom {
  max-width: 640px;
  min-width: 320px;
  height: 55px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #ccc;
  padding: 0 10px;
}
.bottom .pull-right {
  margin-top: 11px;
}
.bottom .gotoCart {
  margin-top: 18px;
  font-size: 16px;
}
