.history {
  font-size: 12px;
  padding: 10px;
  color: #666;
}
.history ul {
  border-left: 1px dashed red;
  border-top: 1px dashed red;
}
.history li {
  height: 30px;
  border-right: 1px dashed red;
  border-bottom: 1px dashed red;
  line-height: 30px;
  padding-left: 15px;
}
.history li span {
  line-height: 30px;
}
